{% extends "admin_base.html" %}
{% block title %}{{ poll.share_token }} — PulsePoll{% endblock %}

{% block extra_css %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-database-compat.js"></script>
{% endblock %}
{% block content %}
{% include "partials/poll_detail_content.html" %}
{% endblock %}
{% block extra_js %}
<script>
    // const OPTIONS    = {{ options_data | tojson }};
    // const POLL_ID    = {{ poll.id }};
    // const IS_EXPIRED = "{{ is_expired }}" === "True";
    const BACK_URL   = "/admin/polls";
</script>
<script src="{{ url_for('static', filename='js/poll_detail.js') }}"></script>
{% endblock %}