{% extends "admin_base.html" %}
{% block title %}Edit Poll — Admin PulsePoll{% endblock %}
{% block extra_css %}
<!-- any CSS -->
{% endblock %}
{% block content %}
{% include "partials/edit_poll_form.html" %}
{% endblock %}
{% block extra_js %}
<script>
    const IS_STARTED = {{ 'true' if is_started else 'false' }};
    const CANCEL_URL = "/admin/polls";
    const SUBMIT_URL = "/admin/poll/{{ poll.share_token }}/edit";
</script>
<script src="{{ url_for('static', filename='js/edit_poll.js') }}"></script>
{% endblock %}